<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

<% if @stock %>
	<div class="well results-block">
	  <strong>Symbol: </strong> <%= @stock.ticker %>
	  <strong>Name: </strong> <%= @stock.name %>
	  <strong>Price: </strong> <%= @stock.last_price %>
	</div>
  <%= link_to "Add to portfolio", stocks_add_path(stock: @stock.ticker), method: :post, class: "btn btn-lg btn-success" %>
 <% end %>