<h1>My Friends</h1>


<% if @my_friends.size > 0  %>
	<table class="table table-bordered">                         
	  <tr>                          
	    <th scope="col">Name</th>
	    <th scope="col">email</th>
	    <th scope="col"></th>
	    <th scope="col"></th>
	  </tr>
		<% @my_friends.each do |friend| %>      
	  <tr>
	    <td><%= friend.full_name %></td>  	
	    <td><%= friend.email %></td>  	
	    <td><%= link_to "Show", users_show_friend_path(friend_id: friend.id) %></td>  	
	    <td><%= link_to "Delete", users_remove_friend_path(friend_id: friend.id), method: :post %></td>  	
	  </tr>
	<% end %>                        	
	</table> 
<% else %> 
	<h4>No friends yet!</h4>
<% end %>

<%= link_to "Search Friends", users_search_friend_path %>